version: '3'

services: 
    jpm_db:
        container_name: jpm_analysis_database
        image: mysql
        environment:
           MYSQL_ROOT_PASSWORD: 1234
           MYSQL_DATABASE: jpm_analysis_database
        ports:
          - 3306:3306
        volumes:
          - ./mysql:/var/lib/mysql
    
    phpmyadmin:
        depends_on:
            - jpm_db
        container_name: phpmyadmin
        image: phpmyadmin:5.2.0-apache
        ports:
          - 8080:80
        environment:
            PMA_ARBITRARY: 1